body {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.container {
  width: 1440px;
  height: 8421;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid transparent;
  border-radius: 12px;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    linear-gradient(45deg, rgb(236, 0, 169), rgb(251, 0, 255)) border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 26px;
  padding-bottom: 18px;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 1600px;
  height: 62px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  margin-left: 484px;
  width: 100%;
}

.header-navig {
  display: flex;
  gap: 40px;
  margin-right: auto;
  padding-bottom: 38px;
  font-weight: 54px;
}

.logo-img {
  width: 177px;
  height: 50px;

}

